div.doimatkhau {
    margin-top: 50px;
    background-color: #3A3A44;
    border: 5px solid white;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
    border-left: 50px solid white;
    border-right: 50px solid white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 400px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
}
div.dmktitle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 50px;
    float: right;
    margin-right: 60px;
    color: #999;
}
div.dmkname {
    font-weight: 900;
    font-size: 20px;
    float: right;
    margin-right: 115px;
    margin-bottom: 10px;
}
div.dmkpass {
    font-weight: 900;
    font-size: 20px;
    float: right;
    margin-right: 115px;
    margin-bottom: 10px;
}
div.dmknewpass {
    font-weight: 900;
    font-size: 20px;
    float: right;
    margin-right: 115px;
    margin-bottom: 10px;
}
div.dmknhaplaipassmoi {
    font-weight: 900;
    font-size: 20px;
    float: right;
    margin-right: 85px;
    margin-bottom: 10px;
}
div.dmkbutton {
    float: right;
    margin-right:80px;
    width:100%;
    text-align:center;
    font-weight: 900;
    font-size: 20px;
}
